body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
 }

 #button-container {
   text-align: center;
 }

 #result-container {
   text-align: center;
   margin-top: 20px;
 }

 #result-container p {
   font-size: 20px;
   font-weight: bold;
 }