body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
   background-size: cover;
   background-position: center;
 }
 
 #button-container {
   text-align: center;
 }
 
 #result-container {
   text-align: center;
   margin-top: 20px;
 }
 
 #result-container h1 {
   color: white;
   letter-spacing: 2px;
   font-weight: bold;
 }

 #challengeButton {
   color: white;
   letter-spacing: 2px;
   font-weight: bold;
 }